@import "../scss/variables";


.blog-container-two {
  height: 100%;
  width: 100% ;
  display: flex;
  justify-content: center;
  //align-items: flex-end;
  //flex-wrap: nowrap;
  align-content: center;
  flex-direction: column;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

