@import "../scss/variables";


.blog-container-two {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

//td, th {
//  border: 1px solid $mediumspringgreenColor;
//  text-align: left;
//  padding: 8px;
//}
//
//tr:nth-child(even) {
//  background-color: $mediumspringgreenColor;
//}