@import "../scss/variables";

.footer-container {
    width: 100%;
    height: 80px;
    margin-bottom: 0px;
    padding-left: 55px;
    background-color: $verylightblueColor;
}


//.footer {
//    width: 100%;
//    height: 40px;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//}
