@import "../Variables/Variables.scss";
@import "~bootstrap/scss/bootstrap";







.mainPage {
  display: flex;
justify-content: center;
  align-items: center;

  h1{
color: $blueColor;
  }
}

button {
@include buttonStyle($mediumspringgreenColor, 20px);
}
